<!DOCTYPE html>
<html ng-app="MyApp">

<head>
    <meta charset="utf-8" />
    <base href="/">
    <title>B21</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" crossorigin="anonymous">
</head>

<body ng-controller="AppCtrl">

    <md-toolbar class="header">
        <div class="row">
            <div class="col-md-6">
                <h3 class="pull-left">&nbsp;Sava Developer</h3></div>
            <div class="col-md-6">
                <md-button class="btn1 pull-right" ng-if="users.loggetIn" ng-click="showAlert('Функционал не реализован');"> выйти </md-button>
            </div>
        </div>
    </md-toolbar>

    <div flex layout="row">
        <md-sidenav flex="15" md-is-locked-open="true" class="md-whiteframe-z1">
            <md-content>
                <md-list flex ng-controller="pathsController">
                    <md-list-item ng-repeat="link in links">
                        <a href="{{link.link}}">{{link.name}}</a>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>

        <div layout="column" flex class="content">
            <div ng-view></div>
        </div>
    </div>

    <!-- ########################################################################################################################################################################################################################################################################################################-->

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="js/app.js"></script>
</body>

</html>