<h2>{{users.name}}</h2>
<button ng-click="showAlert('Привет '+users.name)"> Поздороваемся?</button>
<button ng-click="showAdvanced($event, users.name)"> Посмотрим на себя?</button>
<p>Ура! Вы сделали это)</p>